<div class="sale">
  <picture>
    <source
      class="image link"
      srcset="assets/images/sales/sale-1-large.jpg"
      media="(min-width: 760px)"
    />
    <img class="image link" src="assets/images/sales/sale-1.jpg" alt="" />
  </picture>
  <picture>
    <source
      class="image link"
      srcset="assets/images/sales/sale-2-large.jpg"
      media="(min-width: 760px)"
    />
    <img class="image link" src="assets/images/sales/sale-2.jpg" alt="" />
  </picture>
  <picture>
    <source
      class="image link"
      srcset="assets/images/sales/sale-3-large.jpg"
      media="(min-width: 760px)"
    />
    <img class="image link" src="assets/images/sales/sale-3.jpg" alt="" />
  </picture>
</div>
